[submodule "Deps/lkCommon"]
	path = Deps/lkCommon
	url = https://github.com/lkostyra/lkCommon
[submodule "Deps/glslang"]
	path = Deps/glslang
	url = https://github.com/KhronosGroup/glslang
[submodule "Deps/shaderc"]
	path = Deps/shaderc
	url = https://github.com/google/shaderc
[submodule "Deps/rapidjson"]
	path = Deps/rapidjson
	url = https://github.com/Tencent/rapidjson
[submodule "Deps/tinyobjloader"]
	path = Deps/tinyobjloader
	url = https://github.com/syoyo/tinyobjloader
